*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$mainBlack:#222;
$mainGrenn:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;
body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: sans-serif;
}
